


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."enrich_new_user_profile"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    clean_phone TEXT;
    r_join_req RECORD;
BEGIN
    clean_phone := NEW.phone;
    
    -- Try to find matching join request (match by full number or last 10 digits)
    SELECT * INTO r_join_req
    FROM public.join_requests
    WHERE mobile_number = clean_phone 
       OR RIGHT(mobile_number, 10) = RIGHT(clean_phone, 10)
    LIMIT 1;

    -- If found, auto-populate fields if they are currently NULL
    IF r_join_req IS NOT NULL THEN
        NEW.full_name := COALESCE(NEW.full_name, r_join_req.full_name);
        NEW.email_id := COALESCE(NEW.email_id, r_join_req.email_id);
        NEW.date_of_birth := COALESCE(NEW.date_of_birth, r_join_req.date_of_birth);
        NEW.profession := COALESCE(NEW.profession, r_join_req.profession);
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."enrich_new_user_profile"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_user_wallet_stats"("user_id_param" "uuid") RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    today_val numeric;
    monthly_val numeric;
    approved_val numeric;
    pending_val numeric;
    total_val numeric;
    payout_val numeric;
BEGIN
    -- Get today's earnings
    SELECT COALESCE(SUM(amount), 0)
    INTO today_val
    FROM public.daily_earnings
    WHERE user_id = user_id_param
    AND date = CURRENT_DATE;

    -- Get monthly earnings
    SELECT COALESCE(SUM(amount), 0)
    INTO monthly_val
    FROM public.daily_earnings
    WHERE user_id = user_id_param
    AND date >= date_trunc('month', CURRENT_DATE);

    -- Get approved balance (current wallet balance)
    SELECT COALESCE(balance, 0), COALESCE(total_earnings, 0)
    INTO approved_val, total_val
    FROM public.wallets
    WHERE user_id = user_id_param;

    -- If wallet doesn't exist, return 0s (or create one?)
    IF approved_val IS NULL THEN
        approved_val := 0;
        total_val := 0;
    END IF;

    -- Get pending task amount (assuming from user_tasks table if it exists, or placeholder)
    -- Adjust logic based on actual `user_tasks` or similar table structure
    -- For now using a placeholder query if table exists, else 0
    BEGIN
        SELECT COALESCE(SUM(reward_earned), 0)
        INTO pending_val
        FROM public.user_tasks
        WHERE user_id = user_id_param
        AND status IN ('pending', 'submitted', 'review');
    EXCEPTION WHEN OTHERS THEN
        pending_val := 0;
    END;

    -- Get total payout
    BEGIN
        SELECT COALESCE(SUM(amount), 0)
        INTO payout_val
        FROM public.transactions
        WHERE user_id = user_id_param
        AND type = 'payout'
        AND status = 'success';
    EXCEPTION WHEN OTHERS THEN
        payout_val := 0;
    END;

    -- Return JSON
    RETURN json_build_object(
        'today', today_val,
        'monthly', monthly_val,
        'approved', approved_val,
        'pending', pending_val,
        'total', total_val,
        'payout', payout_val
    );
END;
$$;


ALTER FUNCTION "public"."get_user_wallet_stats"("user_id_param" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_join_request"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    clean_mobile TEXT;
    found_user_id UUID;
BEGIN
    clean_mobile := NEW.mobile_number;

    -- Find matching user by Phone (Last 10 digits)
    SELECT id INTO found_user_id
    FROM public.users
    WHERE phone LIKE '%' || RIGHT(clean_mobile, 10)
    LIMIT 1;

    -- If user exists, sync data
    IF found_user_id IS NOT NULL THEN
        -- 1. Sync Profile Data to User
        UPDATE public.users
        SET 
            full_name = COALESCE(full_name, NEW.full_name), -- Only fill if empty? Or overwrite? Let's overwrite for now or fill if null. User said "fetch and insert".
            email_id = COALESCE(email_id, NEW.email_id),
            date_of_birth = COALESCE(date_of_birth, NEW.date_of_birth),
            profession = COALESCE(profession, NEW.profession)
        WHERE id = found_user_id;

        -- 2. Link the Request to User (if not already linked)
        IF NEW.user_id IS DISTINCT FROM found_user_id THEN
            UPDATE public.join_requests
            SET user_id = found_user_id
            WHERE id = NEW.id;
        END IF;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_join_request"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    clean_phone TEXT;
BEGIN
    clean_phone := COALESCE(NEW.phone, (NEW.raw_user_meta_data->>'phone')::text);

    -- Just insert. The public.users triggers will handle the rest.
    INSERT INTO public.users (id, phone, role)
    VALUES (NEW.id, clean_phone, 'user')
    ON CONFLICT (id) DO NOTHING;

    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."link_join_request_post_creation"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    -- Link the join request to this user (match by full number or last 10 digits)
    UPDATE public.join_requests
    SET user_id = NEW.id
    WHERE (mobile_number = NEW.phone OR RIGHT(mobile_number, 10) = RIGHT(NEW.phone, 10))
      AND user_id IS NULL; -- Only claim if not already claimed
    RETURN NULL;
END;
$$;


ALTER FUNCTION "public"."link_join_request_post_creation"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."notify_users_of_new_task"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.notifications (user_id, title, message, type, metadata)
  SELECT u.id, 'New Task Available! ≡ƒÄ»',
    'A new task "' || NEW.title || '" is now available with a reward of Γé╣' || COALESCE(NEW.reward_free, 0),
    'task',
    jsonb_build_object('task_id', NEW.id, 'task_title', NEW.title, 'task_type', COALESCE(NEW.task_type, 'Daily'), 'reward', COALESCE(NEW.reward_free, 0))
  FROM auth.users u WHERE u.id IS NOT NULL;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."notify_users_of_new_task"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."account_details" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "holder_name" "text" NOT NULL,
    "bank_name" "text" NOT NULL,
    "account_number" "text" NOT NULL,
    "ifsc_code" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."account_details" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."advisor_applications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "full_name" "text",
    "mobile_number" "text",
    "email_id" "text",
    "date_of_birth" "date",
    "profession" "text",
    "irda_license" "text",
    "form" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."advisor_applications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."contact_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "full_name" "text",
    "phone_number" "text",
    "email" "text",
    "occupation" "text",
    "qualification" "text",
    "subject" "text",
    "message" "text",
    "received_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."contact_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."daily_earnings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "date" "date" DEFAULT CURRENT_DATE,
    "amount" numeric DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."daily_earnings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."join_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "full_name" "text",
    "mobile_number" "text",
    "email_id" "text",
    "date_of_birth" "date",
    "profession" "text",
    "form" "text",
    "payment_status" "text",
    "razorpay_payment_id" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "user_id" "uuid",
    "amount" numeric,
    "razorpay_order_id" "text",
    "razorpay_signature" "text"
);


ALTER TABLE "public"."join_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."newsletter_subscriptions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "email" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."newsletter_subscriptions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "message" "text" NOT NULL,
    "type" "text" DEFAULT 'info'::"text",
    "is_read" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    CONSTRAINT "notifications_type_check" CHECK (("type" = ANY (ARRAY['info'::"text", 'success'::"text", 'warning'::"text", 'error'::"text", 'task'::"text"])))
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


COMMENT ON COLUMN "public"."notifications"."metadata" IS 'JSON metadata for storing additional notification context (e.g., task_id, task_type)';



CREATE TABLE IF NOT EXISTS "public"."plans" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "price" numeric NOT NULL,
    "features" "jsonb",
    "is_popular" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."plans" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."tasks" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "reward_member" numeric,
    "reward_free" numeric,
    "icon_type" "text",
    "frequency" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "video_url" "text",
    "pdf_url" "text",
    "action_link" "text",
    "is_active" boolean DEFAULT true,
    "target_audience" "text"[] DEFAULT ARRAY['All'::"text"],
    "task_type" "text" DEFAULT 'Daily'::"text",
    "reward_info" "text",
    "steps" "text",
    "reward_min" numeric,
    "reward_max" numeric,
    "reward_premium" numeric DEFAULT 0
);


ALTER TABLE "public"."tasks" OWNER TO "postgres";


COMMENT ON COLUMN "public"."tasks"."task_type" IS 'Cateogry of task: Daily or Dedicated';



CREATE TABLE IF NOT EXISTS "public"."transactions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "title" "text" NOT NULL,
    "sub_title" "text",
    "amount" numeric NOT NULL,
    "type" "text" NOT NULL,
    "status" "text" DEFAULT 'completed'::"text",
    "icon_type" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "plan_name" "text",
    "currency" "text" DEFAULT 'INR'::"text",
    "transaction_id" "text",
    "razorpay_order_id" "text",
    "razorpay_payment_id" "text",
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."transactions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_kyc" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "account_id" "uuid",
    "pan_card_url" "text",
    "adhaar_card_url" "text",
    "bank_proof_url" "text",
    "selfie_url" "text",
    "status" "text" DEFAULT 'pending'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "rejection_reason" "text",
    CONSTRAINT "user_kyc_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'verified'::"text", 'fail'::"text", 'approved'::"text", 'rejected'::"text"])))
);


ALTER TABLE "public"."user_kyc" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_tasks" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "task_id" "uuid",
    "status" "text" DEFAULT 'pending'::"text",
    "submission_data" "jsonb",
    "reward_earned" numeric,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_tasks" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" NOT NULL,
    "phone" "text",
    "role" "text" DEFAULT 'user'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "profession" "text",
    "avatar_url" "text",
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "full_name" "text",
    "email_id" "text",
    "date_of_birth" "date",
    "plan" "text",
    "mobile_number" "text",
    "membership_expiry" "text",
    "membership_type" "text",
    "plan_type" "text" DEFAULT 'FREE'::"text",
    "has_laptop" boolean DEFAULT false,
    "membership_start_date" "text"
);


ALTER TABLE "public"."users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."wallets" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "balance" numeric DEFAULT 0,
    "total_earnings" numeric DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "wallets_balance_check" CHECK (("balance" >= (0)::numeric))
);


ALTER TABLE "public"."wallets" OWNER TO "postgres";


ALTER TABLE ONLY "public"."account_details"
    ADD CONSTRAINT "account_details_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."account_details"
    ADD CONSTRAINT "account_details_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."advisor_applications"
    ADD CONSTRAINT "advisor_applications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."contact_requests"
    ADD CONSTRAINT "contact_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."daily_earnings"
    ADD CONSTRAINT "daily_earnings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."daily_earnings"
    ADD CONSTRAINT "daily_earnings_user_id_date_key" UNIQUE ("user_id", "date");



ALTER TABLE ONLY "public"."join_requests"
    ADD CONSTRAINT "join_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."newsletter_subscriptions"
    ADD CONSTRAINT "newsletter_subscriptions_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."newsletter_subscriptions"
    ADD CONSTRAINT "newsletter_subscriptions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."plans"
    ADD CONSTRAINT "plans_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tasks"
    ADD CONSTRAINT "tasks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."transactions"
    ADD CONSTRAINT "transactions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."transactions"
    ADD CONSTRAINT "transactions_razorpay_order_id_key" UNIQUE ("razorpay_order_id");



ALTER TABLE ONLY "public"."user_kyc"
    ADD CONSTRAINT "user_kyc_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_tasks"
    ADD CONSTRAINT "user_tasks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."wallets"
    ADD CONSTRAINT "wallets_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."wallets"
    ADD CONSTRAINT "wallets_user_id_key" UNIQUE ("user_id");



CREATE INDEX "idx_join_requests_user_id" ON "public"."join_requests" USING "btree" ("user_id");



CREATE INDEX "idx_notifications_metadata" ON "public"."notifications" USING "gin" ("metadata");



CREATE INDEX "idx_notifications_user_id" ON "public"."notifications" USING "btree" ("user_id");



CREATE INDEX "idx_tasks_task_type" ON "public"."tasks" USING "btree" ("task_type");



CREATE OR REPLACE TRIGGER "on_join_request_change" AFTER INSERT OR UPDATE ON "public"."join_requests" FOR EACH ROW EXECUTE FUNCTION "public"."handle_new_join_request"();



CREATE OR REPLACE TRIGGER "on_task_created" AFTER INSERT ON "public"."tasks" FOR EACH ROW EXECUTE FUNCTION "public"."notify_users_of_new_task"();



CREATE OR REPLACE TRIGGER "on_user_profile_enrich" BEFORE INSERT ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."enrich_new_user_profile"();



CREATE OR REPLACE TRIGGER "on_user_profile_link" AFTER INSERT ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."link_join_request_post_creation"();



ALTER TABLE ONLY "public"."account_details"
    ADD CONSTRAINT "account_details_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."daily_earnings"
    ADD CONSTRAINT "daily_earnings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."join_requests"
    ADD CONSTRAINT "join_requests_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."transactions"
    ADD CONSTRAINT "transactions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_kyc"
    ADD CONSTRAINT "user_kyc_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."user_kyc"
    ADD CONSTRAINT "user_kyc_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."user_tasks"
    ADD CONSTRAINT "user_tasks_task_id_fkey" FOREIGN KEY ("task_id") REFERENCES "public"."tasks"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_tasks"
    ADD CONSTRAINT "user_tasks_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."wallets"
    ADD CONSTRAINT "wallets_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Admin Update KYC" ON "public"."user_kyc" FOR UPDATE USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Admin View Bank Details" ON "public"."account_details" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Admin View KYC" ON "public"."user_kyc" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Admin View Users" ON "public"."users" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow all authenticated users to update all KYC" ON "public"."user_kyc" FOR UPDATE USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow all authenticated users to view all KYC" ON "public"."user_kyc" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow users to insert own KYC" ON "public"."user_kyc" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Authenticated users can view tasks" ON "public"."tasks" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable insert for users based on user_id" ON "public"."users" FOR INSERT WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Enable select for users based on user_id" ON "public"."users" FOR SELECT USING (("auth"."uid"() = "id"));



CREATE POLICY "Enable update for users based on user_id" ON "public"."users" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Everyone can view plans" ON "public"."plans" FOR SELECT USING (true);



CREATE POLICY "Everyone can view tasks" ON "public"."tasks" FOR SELECT USING (true);



CREATE POLICY "User Insert KYC" ON "public"."user_kyc" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can delete their own account details" ON "public"."account_details" FOR DELETE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can delete their own notifications" ON "public"."notifications" FOR DELETE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert own kyc" ON "public"."user_kyc" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert their own account details" ON "public"."account_details" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert their own transactions" ON "public"."transactions" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update own KYC" ON "public"."user_kyc" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update own kyc" ON "public"."user_kyc" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update own profile" ON "public"."users" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can update their own account details" ON "public"."account_details" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update their own notifications" ON "public"."notifications" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update their own transactions" ON "public"."transactions" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view own kyc" ON "public"."user_kyc" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view own profile" ON "public"."users" FOR SELECT USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view own tasks" ON "public"."user_tasks" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own account details" ON "public"."account_details" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own daily earnings" ON "public"."daily_earnings" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own notifications" ON "public"."notifications" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own transactions" ON "public"."transactions" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own wallet" ON "public"."wallets" FOR SELECT USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."account_details" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."advisor_applications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."contact_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."daily_earnings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."join_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."newsletter_subscriptions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."plans" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tasks" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."transactions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_kyc" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_tasks" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."wallets" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."enrich_new_user_profile"() TO "anon";
GRANT ALL ON FUNCTION "public"."enrich_new_user_profile"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."enrich_new_user_profile"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_user_wallet_stats"("user_id_param" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_user_wallet_stats"("user_id_param" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_user_wallet_stats"("user_id_param" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_join_request"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_join_request"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_join_request"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."link_join_request_post_creation"() TO "anon";
GRANT ALL ON FUNCTION "public"."link_join_request_post_creation"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."link_join_request_post_creation"() TO "service_role";



GRANT ALL ON FUNCTION "public"."notify_users_of_new_task"() TO "anon";
GRANT ALL ON FUNCTION "public"."notify_users_of_new_task"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."notify_users_of_new_task"() TO "service_role";



GRANT ALL ON TABLE "public"."account_details" TO "anon";
GRANT ALL ON TABLE "public"."account_details" TO "authenticated";
GRANT ALL ON TABLE "public"."account_details" TO "service_role";



GRANT ALL ON TABLE "public"."advisor_applications" TO "anon";
GRANT ALL ON TABLE "public"."advisor_applications" TO "authenticated";
GRANT ALL ON TABLE "public"."advisor_applications" TO "service_role";



GRANT ALL ON TABLE "public"."contact_requests" TO "anon";
GRANT ALL ON TABLE "public"."contact_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."contact_requests" TO "service_role";



GRANT ALL ON TABLE "public"."daily_earnings" TO "anon";
GRANT ALL ON TABLE "public"."daily_earnings" TO "authenticated";
GRANT ALL ON TABLE "public"."daily_earnings" TO "service_role";



GRANT ALL ON TABLE "public"."join_requests" TO "anon";
GRANT ALL ON TABLE "public"."join_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."join_requests" TO "service_role";



GRANT ALL ON TABLE "public"."newsletter_subscriptions" TO "anon";
GRANT ALL ON TABLE "public"."newsletter_subscriptions" TO "authenticated";
GRANT ALL ON TABLE "public"."newsletter_subscriptions" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."plans" TO "anon";
GRANT ALL ON TABLE "public"."plans" TO "authenticated";
GRANT ALL ON TABLE "public"."plans" TO "service_role";



GRANT ALL ON TABLE "public"."tasks" TO "anon";
GRANT ALL ON TABLE "public"."tasks" TO "authenticated";
GRANT ALL ON TABLE "public"."tasks" TO "service_role";



GRANT ALL ON TABLE "public"."transactions" TO "anon";
GRANT ALL ON TABLE "public"."transactions" TO "authenticated";
GRANT ALL ON TABLE "public"."transactions" TO "service_role";



GRANT ALL ON TABLE "public"."user_kyc" TO "anon";
GRANT ALL ON TABLE "public"."user_kyc" TO "authenticated";
GRANT ALL ON TABLE "public"."user_kyc" TO "service_role";



GRANT ALL ON TABLE "public"."user_tasks" TO "anon";
GRANT ALL ON TABLE "public"."user_tasks" TO "authenticated";
GRANT ALL ON TABLE "public"."user_tasks" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."wallets" TO "anon";
GRANT ALL ON TABLE "public"."wallets" TO "authenticated";
GRANT ALL ON TABLE "public"."wallets" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







